/* .mainPage {
    display:grid;
    border-top: 1px solid;
} */

.mainContainer { 
    
    border-bottom: 1px, solid;
    text-align: center;
    overflow: auto;
    color: whitesmoke;
}

.projectGrid {
    width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: whitesmoke;
    /* background-color:  	#1f2148; */
}

.projectContainer {
    background-color: #737373 !important;
    border: 5px color black;
    box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.projectInfo {
    justify-content: space-around;
    padding: 5px;
}

.sourceAndDemo {
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    padding: 1em;
}