.projectGrid {
    width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
}

.projectContainer {
    background-color: #009230 !important;
    border: 5px color black;
    box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

#descriptionStyle {
    display: flex;
    padding: 1em;
    /* justify-content: space-around; */
}

.projectInfo {
    justify-content: space-around;
    padding: 5px;
}

.sourceAndDemo {
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    padding: 1em;
}